<article class="message is-info">
	<div class="message-body">
		Fill in the boxes below to filter data. Note that you <i>must</i> use start and end dates together, and end dates are <i>not</i> inclusive. If you want <i>all</i> the data stored, just click Submit without any filters.
	</div>
</article>

<form method="GET" target="_self">
	{{> filters}}
	<div class="field is-grouped">
		<div class="control">
			<button formaction="/admin/viewdata" type="submit" class="button is-info">
				<span class="icon">
					<i class="fa fa-table"></i>
		    	</span>
				<span>View Data</span>
			</button>
		</div>
		<div class="control">
			<button formaction="/admin/getcsv" type="submit" class="button">
				<span class="icon">
					<i class="fa fa-download"></i>
		    	</span>
				<span>Get CSV</span>
			</button>
		</div>
	</div>
</form>
