<div class="field is-horizontal">
	<div class="field-body">
		<div class="field">
			<label class="label">Start Date:</label>
			<div class="control">
				<input class="input" name="startDate" type="date" placeholder="Example: 2019-01-20">
			</div>
		</div>
		<div class="field">
			<label class="label">End Date:</label>
			<div class="control">
				<input class="input" name="endDate" type="date" placeholder="Example: 2019-01-21">
			</div>
		</div>
	</div>
</div>
<div class="field is-horizontal">
	<div class="field-body">
		<div class="field">
			<label class="label">Section:</label>
			<div class="control">
				<input class="input" name="section" type="text" placeholder="Example: A">
			</div>
		</div>
		<div class="field">
			<label class="label">Lab:</label>
			<div class="control">
				<input class="input" name="lab" type="text" placeholder="Example: 1">
			</div>
		</div>
	</div>
</div>
<div class="field is-horizontal">
	<div class="field-body">
		<div class="field">
			<label class="label">TA:</label>
			<div class="control">
				<input class="input" name="ta" type="text" placeholder="Example: iliano">
			</div>
		</div>
		<div class="field">
			<label class="label">Student:</label>
			<div class="control">
				<input class="input" name="student_id" type="text" placeholder="Example: aditya">
			</div>
		</div>
	</div>
</div>
