<div class="content has-text-centered">
	<p>
		&copy; <u><a href="https://quantumstack.xyz">QuantumStack</a></u>, built with
		<span class="icon">
			<i class="fa fa-heart"></i>
    	</span>
    	 in Pittsburgh.
	</p>
</div>
