<article class="message is-info">
	<div class="message-body">
		Mark all the entries in a date range as part of a particular lab number. Note that end dates are <i>not</i> inclusive.
	</div>
</article>

<form method="POST" action="/admin/assignlab" target="_self">
	<div class="field is-horizontal">
		<div class="field-body">
			<div class="field">
				<label class="label">Start Date: {{> asterisk}}</label>
				<div class="control">
					<input class="input" name="startDate" type="date" placeholder="Example: 2019-01-20" required>
				</div>
			</div>
			<div class="field">
				<label class="label">End Date: {{> asterisk}}</label>
				<div class="control">
					<input class="input" name="endDate" type="date" placeholder="Example: 2019-01-21" required>
				</div>
			</div>
		</div>
	</div>
	<div class="field">
		<label class="label">Lab: {{> asterisk}}</label>
		<div class="control">
			<input class="input" name="lab" type="text" placeholder="Example: 1" required>
		</div>
	</div>
	<div class="field">
		<div class="control">
			<button type="submit" class="button is-info">
				<span class="icon">
					<i class="fa fa-tag"></i>
		    	</span>
				<span>Submit</span>
			</button>
		</div>
	</div>
</form>
