<section class="hero is-danger is-bold is-fullheight">
	<div class="hero-body">
		<div class="container">
			<h1 class="title has-text-centered">
				<span>Error!</span>
				<span class="icon is-large">
					<i class="far fa-frown-open"></i>
		    	</span>
			</h1>
			<h3 class="subtitle has-text-centered">
				{{err}}
			</h3>
			<p>
      			<center><a href="/" class="tag is-primary is-large is-rounded cmulab">CMULab</a></center>
  			</p>
		</div>
	</div>
	<div class="hero-foot">
		<p>
			<small>{{> footer}}</small>
		</p>
	</div>
</section>
