<section class="hero is-dark is-bold is-fullheight">
	<div class="hero-body">
		<div class="container">
			<h1 class="title has-text-centered">
				Success!
			</h1>
			<p>
      			<center><a href="/" class="tag is-primary is-large is-rounded">CMULab</a></center>
  			</p>
		</div>
	</div>
	<div class="hero-foot">
		<p>
			<small>{{> footer}}</small>
		</p>
	</div>
</section>
